Builds/*/*.xcarchive
PhyKit.xcodeproj/xcuserdata
Demos/FallingPrimitives/FallingPrimitives.xcodeproj/xcuserdata
Demos/Demos.xcworkspace/xcuserdata
ScratchPad/ScratchPad.xcodeproj/xcuserdata
.swiftpm/*
.DS_Store
